.vscode/*
package-lock.json 
package.json 
.gitignore
appserver/cmake-build-debug/*
appserver/cmake-build-release/*
appserver/cmake-build-relwithdebinfo/*
appserver/cmake-build-minsizerel/build.ninja
appserver/cmake-build-minsizerel/CMakeCache.txt
appserver/cmake-build-minsizerel/cmake_install.cmake
appserver/cmake-build-minsizerel/.ninja_log
appserver/cmake-build-minsizerel/.ninja_deps
appserver/cmake-build-minsizerel/.cmake/*
appserver/cmake-build-minsizerel/Testing/*
appserver/cmake-build-minsizerel/CMakeFiles/*
appserver/.idea


webserver/.idea





