package-lock.json 
package.json 
.gitignore
/node_modules/*
appserver/debug/*
appserver/cmake-build-debug/*
appserver/cmake-build-release/*
appserver/cmake-build-relwithdebinfo/*
appserver/release/build.ninja
appserver/release/CMakeCache.txt
appserver/release/cmake_install.cmake
appserver/release/.ninja_log
appserver/release/.ninja_deps
appserver/release/.cmake/*
appserver/release/Testing/*
appserver/release/CMakeFiles/*
appserver/.idea


webserver/.idea
potential_assets/*
potential_assets



