@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/press_start_2p/PressStart2P.ttf') format('truetype');
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

.wrapper {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.startButton {
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.splashContent {
    /* center content */
    text-align: center;
    margin: 0;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}