@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/press_start_2p/PressStart2PExpanded.ttf') format('truetype');
}

body {
    font-family: 'Press Start 2P', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startButton {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.options {
    margin-top: 10rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nameInput {
    margin-top: 10rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nameInput input {
    width: 30rem;    
}

.nameInput label {
    color: white;    
}

.splashContent {
    /* center content */
    text-align: center;
    margin: 0;
    color: var(--primary-600)
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    position: absolute;
  
}

#hero-class {
    text-align: center;
    font-weight: 800;
    color: var(--primary-500)
}